<!-- <div class="col-4 form-group"> 
    <label for="interestInput">Add an interest</label>
    <input id="interestInput" type="text" class="form-control" placeholder="Interest" [(ngModel)]="filter.interest" name="interest" [ngbTypeahead]="search"/>
  </div> -->

<h4 translate>Who are you looking to chat with?</h4>
<form (keydown.enter)="$event.preventDefault()" (ngSubmit)="onSubmit()">
    <!-- User filters -->

  <div class="form-group ">
    <label for="exampleInputEmail1">Your age</label>
    <app-age-input [minAge]="minAge" [filter]="filter"></app-age-input>
  </div>

  <div class="form-group">
    <div><label>Gender</label></div>
      
    <div ngbDropdown class="btn-group" role="group" (mouseenter)="genderDropdownClosed = false; targetGenderDropdown.open()" (mouseleave)="genderDropdownClosed = true; termTarget$.next(targetGenderDropdown)" #targetGenderDropdown="ngbDropdown">
      <button class="btn" 
      [ngClass]="(filter.preferredGender && filter.preferredGender.length > 0) ? 'btn-success' : 'btn-primary'" 
        id="partnerGenderDropdown" ngbDropdownToggle>
          {{ targetGenderButtonText() }}
      </button>
      <app-multi-select (checkedValues)="filter.preferredGender = $event" [tooltip]="'Partner gender'" [values]="genders"></app-multi-select>
    </div>
  </div>
</form>