/* Split the screen in half */
div.app-page {
  margin-top: 5px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1600px) {
  div.app-page {
    margin-right:20px;
    margin-left:20px;
  }
}


div.row>div {
  margin-left: 50px;
  margin-right: 50px;
}

div.col {
  border-left: 1px solid black;
}

div.menu {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  box-shadow: 10px 10px 8px #888888;
}
