.topic-enum {
    margin: 0px;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    transition: all .2s ease-in-out;
}

span.span-button:hover {
    transform: scale(1.4);
}

.highlight-add:hover {
    background-color: green;
    color: white;
    transition: background-color 0.5s;
    /* transition: font-size 0.5s; */
}

.highlight-add-selected {
    background-color: green;
    color: white;
    transition: background-color 0.5s;
}

.highlight-remove:hover {
    background-color: darkred;
    color: white;
    transition: background-color 0.5s;

}

.highlight-remove-selected {
    background-color: darkred;
    color: white;
    transition: background-color 0.5s;
}

.topic-form {
    height: 80px;
}

.topic-panel {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 550px;
}

.search-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media only screen and (max-width:1050px) {
    .search-grid {
        grid-template-columns: 100%;
    }
}
