<div class="split">
  <div >
    <label for="topic-search" class="topic-enum">Search for a topic</label>
    <input id="topic-search" type="search" [formControl]="searchField"
     placeholder="Gaming, traveling, music..." class="form-control"/>
  </div>

  <ng-container *ngIf="activeTopics.length > 0">
    <hr/>
    <label for="topic-search" class="topic-enum">Selected topics</label>
    <div *ngFor="let topic of activeTopics">
      <div class="row">
        <div class="col highlight-remove" (click)="removeTopic(topic)">
          <label class="topic-enum col-form-label ">{{topic.name}} ({{topic.searchCount}})</label>
        </div>
      </div>
    </div>
  </ng-container>

  <hr/>

  <label for="topic-search" class="topic-enum">Available topics</label>
  <ng-container *ngIf="inactiveTopics.length > 0; else no_inactive_found">
    <div *ngFor="let topic of inactiveTopics">
      <div class="row">
        <div class="col highlight-add" (click)="addTopic(topic)">
          <label class="topic-enum col-form-label" >{{topic.name}} ({{topic.searchCount}})</label>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #no_inactive_found> <div>No more topics found...</div> </ng-template>
</div>