<!-- <div class="col-4 form-group">
    <label for="interestInput">Add an interest</label>
    <input id="interestInput" type="text" class="form-control" placeholder="Interest" [(ngModel)]="filter.interest" name="interest" [ngbTypeahead]="search"/>
  </div> -->

<h4 translate>Who are you looking to chat with?</h4>
<form (keydown.enter)="$event.preventDefault()" (ngSubmit)="onSubmit()">
    <!-- User filters -->

  <div class="row">
    <div class="form-group col">
      <label for="exampleInputEmail1">Min age</label>
      <app-age-input [minAge]="minAge" [maxAge]="filter.preferredAgeMax" [startAge]="filter.preferredAgeMin" (ageChanged)="filter.preferredAgeMin = $event"></app-age-input>
    </div>
    <div class="form-group col">
      <label for="exampleInputEmail1">Max age</label>
      <app-age-input [minAge]="filter.preferredAgeMin" [maxAge]="maxAge" [startAge]="filter.preferredAgeMax" (ageChanged)="filter.preferredAgeMax = $event"></app-age-input>
    </div>
    <div class="col"></div>

  </div>
  <div class="form-group">
    <div><label>Gender</label></div>

    <div ngbDropdown class="btn-group" role="group" (mouseenter)="genderDropdownClosed = false; targetGenderDropdown.open()" (mouseleave)="genderDropdownClosed = true; termTarget$.next(targetGenderDropdown)" #targetGenderDropdown="ngbDropdown">
      <button class="btn"
      [ngClass]="(filter.preferredGender && filter.preferredGender.length > 0) ? 'btn-success' : 'btn-primary'"
        id="partnerGenderDropdown" ngbDropdownToggle>
          {{ targetGenderButtonText() }}
      </button>
      <app-multi-select (checkedValues)="filter.preferredGender = $event" [tooltip]="'Partner gender'" [values]="genders" [selectedValues]="filter.preferredGender"></app-multi-select>
    </div>
  </div>
</form>