/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.dropdown-item.active {
    color: white;
    background-color: white;
}

.container{
    margin-bottom: 20px;
    margin-top: 20px;
}