/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.dropdown-item.active {
    color: white;
    background-color: white;
}

.split {
    margin-top:20px;
    margin-bottom: 20px;
    outline: none;
    height: 760px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.auto-height {
    height: 100%;
}
